html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f8f5ec;
  font-family: 'IM Fell English', serif;
  display: flex;
  justify-content: center;
}

#root {
  flex: 1;
  display: flex;
  justify-content: center;
}
