/* Home.module.css */

.home {
  padding: 3rem 2rem;
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text);
  text-align: center;
}

.home h1 {
  font-size: 3rem;
  color: var(--color-secondary);
  text-shadow: 2px 2px 5px #a67c00;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.3rem;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.8;
  font-style: italic;
  color: #5a5a3c;
}
